.card{
    width: 200px;
    height: 300px;
    background-color: rgb(118, 44, 44);
    border-radius: 15px;
    background-image: url('https://images-cdn.ubuy.co.in/6356a05daebb735896567139-premiumprints-marvel-iron-man-original.jpg');
    background-size: cover;
}