.card{
    width: 200px;
    height: 300px;
    background-color: rgb(118, 44, 44);
    border-radius: 15px;
    background-size: cover;
    margin: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
}

#search_bar{
    width: 400px;
    padding: 6px;
    padding-left: 16px;
    border-radius: 27px;
    border-style: solid;
    border-color: slategray;
}