<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="font-size: 55px;">{{ movieData.title }}</h1><br>
    
    <form action="/userbooking/{{userID}}" method="post">
        {% for theater in movieData.current_theaters %}
            <label ><h4 style="display: inline-block;">{{ theater.name }} {{ theater.location }}</h4></label>
            <input type="radio"  name="booking" value="{{movieData.id}},{{ theater.id }}" required><br>
        {% endfor %}
        <input type="submit" value="Book">
    </form>  
</body>
</html>