<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\css\userDashbord.css">
    <title>Document</title>
</head>
<body>
    <a href="/userbooking/{{userID}}" style="float: right; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold;">My Bookings</a>
    <h1>Welcome User {{ userName }}</h1>

    <form action="/search" method="post">
        <input type="text" name="search" placeholder="Search" id="search_bar">
        <input type="submit" value="Find">
    </form>

    {% for movie in movieData %}
     <a href="/movie_details//{{userID}}/{{ movie.id }}">  <div class="card" style="background-image: url({{movie.poster_url}});"></div> </a>
    {% endfor %}

</body>
</html>